+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{< blocks/cover title="Bienvenue sur Roneo.app !" image_anchor="top" height="full" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		En savoir plus <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy">
		S'inscrire <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Votre site professionnel en quelques clics</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet deserunt nisi esse dolorem laborum, mollitia assumenda nulla neque sapiente odio est fugit, praesentium inventore nam autem, quae nostrum ipsum!{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="Simple !" url="/docs/examples/" %}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet deserunt
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Funky !" url="https://github.com/google/docsy" %}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet deserunt
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="On est sur Twitter!" url="https://twitter.com/docsydocs" %}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet deserunt
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-facebook" title="et sur Facebook !" url="https://twitter.com/docsydocs" %}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet deserunt
{{% /blocks/feature %}}

{{< /blocks/section >}}

